@-webkit-keyframes fstarLight {
	0% {
		transform: scale(1, 1);
	}
	20% {
		transform: scale(.8, .8);
	}
	90% {
		transform: scale(.7, .7);
	}
	100% {
		transform: scale(1, 1);
	}
}
@keyframes fstarLight {
	0% {
		transform: scale(1, 1);
	}
	20% {
		transform: scale(.8, .8);
	}
	90% {
		transform: scale(.7, .7);
	}
	100% {
		transform: scale(1, 1);
	}
}

@-webkit-keyframes fstwo {
	0% { 
		transform: scale(1, 1); 
	}
	20% { 
		transform: scale(14, 14); 
	}
	100% { 
		transform: scale(14, 14); 
	}
}
@keyframes fstwo {
	0% { 
		transform: scale(1, 1);
	}
	20% { 
		transform: scale(14, 14); 
	}
	100% { 
		transform: scale(14, 14); 
	}
}

@-webkit-keyframes fstwoshadow {
	0% { transform: scale(1, 1); opacity: 1; }
	50% { transform: scale(1.2, 1.2); opacity: .3; }
	100% { opacity: 0; }
}
@keyframes fstwoshadow {
	0% { transform: scale(1, 1); opacity: 1; }
	50% { transform: scale(1.2, 1.2); opacity: .3; }
	100% { opacity: 0; }
}
@-webkit-keyframes fstwoyan {
	0% {
		left: 50%;
		top: 70%;
		border-width: 2px;
		opacity: 1;
	}
	20% {
		left: 21%;
		top: 29%;
		border-width: 15px;
		opacity: .6;
	}
	40% {
		left: 21%;
		top: 29%;
		border-width: 15px;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fstwoyan {
	0% {
		left: 50%;
		top: 70%;
		border-width: 2px;
		opacity: 1;
	}
	20% {
		left: 21%;
		top: 29%;
		border-width: 15px;
		opacity: .8;
	}
	40% {
		left: 21%;
		top: 29%;
		border-width: 15px;
		opacity: .8;
	}
	50% {
		left: 21%;
		top: 29%;
		border-width: 15px;
		opacity: .0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes cenpeopshow {
	0% { top: -50%; }
	50% { top: 45%; }
	80% { top: 35%; }
	100% { top: 40%; }
}
@-o-keyframes cenpeopshow {
	0% { top: -50%; }
	50% { top: 45%; }
	80% { top: 35%; }
	100% { top: 40%; }
}
@-moz-keyframes cenpeopshow {
	0% { top: -50%; }
	50% { top: 45%; }
	80% { top: 35%; }
	100% { top: 40%; }
}
@keyframes cenpeopshow {
	0% { top: -50%; }
	50% { top: 45%; }
	80% { top: 35%; }
	100% { top: 40%; }
}
@-webkit-keyframes ssone {
	0% { transform: scale(1, 1); opacity: 1; }
	50% { transform: scale(1.2, 1.2); opacity: .3; }
	100% { opacity: 0; }
}
@-o-keyframes ssone {
	0% { transform: scale(1, 1); opacity: 1; }
	50% { transform: scale(1.2, 1.2); opacity: .3; }
	100% { opacity: 0; }
}
@-moz-keyframes ssone {
	0% { transform: scale(1, 1); opacity: 1; }
	50% { transform: scale(1.2, 1.2); opacity: .3; }
	100% { opacity: 0; }
}
@keyframes ssone {
	0% { transform: scale(1, 1); opacity: 1; }
	50% { transform: scale(1.2, 1.2); opacity: .3; }
	100% { opacity: 0; }
}

@-webkit-keyframes pfmove {
	0% { 
		left: 1%; bottom: 3%;
	}
	4% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 1%;
	}
	8% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 0%;
	}
	12% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 0%;
	}
	16% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: -1%;
		bottom: 3%;
	}
	20% {
		bottom: 4%;
	}
	25% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	29% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: -1%;
	}
	33% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 0%;
	}
	37% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 0%;
	}
	41% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 1%;
	}
	42% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	45% {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	50% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	51% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 1%;
	}
	54% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 1%;
	}
	58% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 2%;
	}
	62% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 2%;
	}
	66% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 3%;
		bottom: 3%;
	}
	70% {
		bottom: 4%;
	}
	75% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	79% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 3%;
	}
	83% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 2%;
	}
	87% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 2%;
	}
	91% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 1%;
	}
	92% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	95% {
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		-webkit-transform: rotateY(-360deg);
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}
@keyframes pfmove {
	0% { 
		left: 1%; bottom: 3%;
	}
	4% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 1%;
	}
	8% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 0%;
	}
	12% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 0%;
	}
	16% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: -1%;
		bottom: 3%;
	}
	20% {
		bottom: 4%;
	}
	25% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	29% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: -1%;
	}
	33% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 0%;
	}
	37% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 0%;
	}
	41% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 1%;
	}
	42% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	45% {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	50% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	51% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 1%;
	}
	54% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 1%;
	}
	58% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 2%;
	}
	62% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 2%;
	}
	66% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 3%;
		bottom: 3%;
	}
	70% {
		bottom: 4%;
	}
	75% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	79% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 3%;
	}
	83% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 2%;
	}
	87% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 2%;
	}
	91% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 1%;
	}
	92% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	95% {
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		-webkit-transform: rotateY(-360deg);
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}

@-webkit-keyframes psmove {
	0% { 
		left: 15%; bottom: 3%;
	}
	4% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 15%;
	}
	8% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 14%;
	}
	12% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 14%;
	}
	16% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 13%;
		bottom: 3%;
	}
	20% {
		bottom: 4%;
	}
	25% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	29% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 13%;
	}
	33% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 14%;
	}
	37% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 14%;
	}
	41% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 15%;
	}
	42% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	45% {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	50% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	51% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 15%;
	}
	54% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 15%;
	}
	58% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 16%;
	}
	62% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 16%;
	}
	66% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 17%;
		bottom: 3%;
	}
	70% {
		bottom: 4%;
	}
	75% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	79% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 17%;
	}
	83% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 16%;
	}
	87% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 16%;
	}
	91% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 15%;
	}
	92% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	95% {
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		-webkit-transform: rotateY(-360deg);
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}
@keyframes psmove {
	0% { 
		left: 15%; bottom: 3%;
	}
	4% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 15%;
	}
	8% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 14%;
	}
	12% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 14%;
	}
	16% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 13%;
		bottom: 3%;
	}
	20% {
		bottom: 4%;
	}
	25% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	29% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 13%;
	}
	33% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 14%;
	}
	37% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 14%;
	}
	41% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 15%;
	}
	42% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	45% {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	50% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	51% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 15%;
	}
	54% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 15%;
	}
	58% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 16%;
	}
	62% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 16%;
	}
	66% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 17%;
		bottom: 3%;
	}
	70% {
		bottom: 4%;
	}
	75% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	79% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 17%;
	}
	83% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 16%;
	}
	87% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 16%;
	}
	91% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 15%;
	}
	92% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	95% {
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		-webkit-transform: rotateY(-360deg);
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}

@-webkit-keyframes ptmove {
	0% { 
		left: 35%; bottom: 3%;
	}
	4% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 35%;
	}
	8% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 34%;
	}
	12% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 34%;
	}
	16% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 33%;
		bottom: 3%;
	}
	20% {
		bottom: 4%;
	}
	25% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	29% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 33%;
	}
	33% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 34%;
	}
	37% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 34%;
	}
	41% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 35%;
	}
	42% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	45% {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	50% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	51% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 35%;
	}
	54% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 35%;
	}
	58% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 36%;
	}
	62% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 36%;
	}
	66% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 37%;
		bottom: 3%;
	}
	70% {
		bottom: 4%;
	}
	75% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	79% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 37%;
	}
	83% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 36%;
	}
	87% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 36%;
	}
	91% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 35%;
	}
	92% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	95% {
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		-webkit-transform: rotateY(-360deg);
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}
@keyframes ptmove {
	0% { 
		left: 35%; bottom: 3%;
	}
	4% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 35%;
	}
	8% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 34%;
	}
	12% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 34%;
	}
	16% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 33%;
		bottom: 3%;
	}
	20% {
		bottom: 4%;
	}
	25% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	29% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 33%;
	}
	33% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 34%;
	}
	37% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 34%;
	}
	41% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 35%;
	}
	42% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	45% {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	50% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	51% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 35%;
	}
	54% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 35%;
	}
	58% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 36%;
	}
	62% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 36%;
	}
	66% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 37%;
		bottom: 3%;
	}
	70% {
		bottom: 4%;
	}
	75% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	79% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 37%;
	}
	83% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 36%;
	}
	87% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 36%;
	}
	91% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 35%;
	}
	92% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	95% {
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		-webkit-transform: rotateY(-360deg);
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}

@-webkit-keyframes pfomove {
	0% { 
		left: 52%; bottom: 3%;
	}
	4% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 52%;
	}
	8% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 53%;
	}
	12% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 53%;
	}
	16% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 54%;
		bottom: 3%;
	}
	20% {
		bottom: 4%;
	}
	25% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	29% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 54%;
	}
	33% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 53%;
	}
	37% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 53%;
	}
	41% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 52%;
	}
	42% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	45% {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	50% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	51% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 52%;
	}
	54% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 52%;
	}
	58% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 51%;
	}
	62% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 51%;
	}
	66% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 50%;
		bottom: 3%;
	}
	70% {
		bottom: 4%;
	}
	75% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	79% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 50%;
	}
	83% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 51%;
	}
	87% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 51%;
	}
	91% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 52%;
	}
	92% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	95% {
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		-webkit-transform: rotateY(-360deg);
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}
@keyframes pfomove {
	0% { 
		left: 52%; bottom: 3%;
	}
	4% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 52%;
	}
	8% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 53%;
	}
	12% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 53%;
	}
	16% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 54%;
		bottom: 3%;
	}
	20% {
		bottom: 4%;
	}
	25% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	29% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 54%;
	}
	33% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 53%;
	}
	37% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 53%;
	}
	41% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 52%;
	}
	42% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	45% {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	50% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	51% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 52%;
	}
	54% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 52%;
	}
	58% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 51%;
	}
	62% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 51%;
	}
	66% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 50%;
		bottom: 3%;
	}
	70% {
		bottom: 4%;
	}
	75% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	79% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 50%;
	}
	83% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 51%;
	}
	87% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 51%;
	}
	91% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 52%;
	}
	92% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	95% {
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		-webkit-transform: rotateY(-360deg);
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}

@-webkit-keyframes pfimove {
	0% { 
		left: 69%; bottom: 3%;
	}
	4% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 69%;
	}
	8% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 70%;
	}
	12% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 70%;
	}
	16% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 71%;
		bottom: 3%;
	}
	20% {
		bottom: 4%;
	}
	25% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	29% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 71%;
	}
	33% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 70%;
	}
	37% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 70%;
	}
	41% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 69%;
	}
	42% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	45% {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	50% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	51% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 69%;
	}
	54% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 69%;
	}
	58% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 68%;
	}
	62% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 68%;
	}
	66% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 67%;
		bottom: 3%;
	}
	70% {
		bottom: 4%;
	}
	75% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	79% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 67%;
	}
	83% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 68%;
	}
	87% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 68%;
	}
	91% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 69%;
	}
	92% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	95% {
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		-webkit-transform: rotateY(-360deg);
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}
@keyframes pfimove {
	0% { 
		left: 69%; bottom: 3%;
	}
	4% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 69%;
	}
	8% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 70%;
	}
	12% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 70%;
	}
	16% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 71%;
		bottom: 3%;
	}
	20% {
		bottom: 4%;
	}
	25% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	29% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 71%;
	}
	33% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 70%;
	}
	37% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 70%;
	}
	41% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 69%;
	}
	42% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	45% {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	50% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	51% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 69%;
	}
	54% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 69%;
	}
	58% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 68%;
	}
	62% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 68%;
	}
	66% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 67%;
		bottom: 3%;
	}
	70% {
		bottom: 4%;
	}
	75% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	79% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 67%;
	}
	83% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 68%;
	}
	87% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 68%;
	}
	91% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 69%;
	}
	92% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	95% {
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		-webkit-transform: rotateY(-360deg);
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}

@-webkit-keyframes psimove {
	0% { 
		left: 86%; bottom: 3%;
	}
	4% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 86%;
	}
	8% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 87%;
	}
	12% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 87%;
	}
	16% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 88%;
		bottom: 3%;
	}
	20% {
		bottom: 4%;
	}
	25% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	29% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 88%;
	}
	33% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 87%;
	}
	37% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 87%;
	}
	41% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 86%;
	}
	42% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	45% {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	50% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	51% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 86%;
	}
	54% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 86%;
	}
	58% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 85%;
	}
	62% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 85%;
	}
	66% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 84%;
		bottom: 3%;
	}
	70% {
		bottom: 4%;
	}
	75% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	79% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 84%;
	}
	83% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 85%;
	}
	87% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 85%;
	}
	91% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 86%;
	}
	92% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	95% {
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		-webkit-transform: rotateY(-360deg);
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}
@keyframes psimove {
	0% { 
		left: 86%; bottom: 3%;
	}
	4% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 86%;
	}
	8% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 87%;
	}
	12% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 87%;
	}
	16% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 88%;
		bottom: 3%;
	}
	20% {
		bottom: 4%;
	}
	25% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	29% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 88%;
	}
	33% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 87%;
	}
	37% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 87%;
	}
	41% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 86%;
	}
	42% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	45% {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	50% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	51% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 86%;
	}
	54% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 86%;
	}
	58% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 85%;
	}
	62% {
		-webkit-transform: rotateZ(-15deg);
		-moz-transform: rotateZ(-15deg);
		-ms-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
		left: 85%;
	}
	66% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		left: 84%;
		bottom: 3%;
	}
	70% {
		bottom: 4%;
	}
	75% {
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
		bottom: 3%;
	}
	79% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 84%;
	}
	83% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 85%;
	}
	87% {
		-webkit-transform: rotateZ(15deg);
		-moz-transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		transform: rotateZ(15deg);
		left: 85%;
	}
	91% {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		left: 86%;
	}
	92% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	95% {
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		-webkit-transform: rotateY(-360deg);
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}

@-webkit-keyframes xueone {
	0% { 
		top: 62%;
	}
	5% { 
		top: 64%;
	}
	10% {
		left: 1%; 
		top: 62%;
	}
	15% { 
		left: 3%;
		top: 64%;
	}
	20% { 
		left: 5%;
		top: 62%;
	}
	25% { 
		top: 64%;
	}
	30% { 
		top: 62%;
	}
	35% { 
		top: 64%;
	}
	40% { 
		left: 5%;
		top: 62%;
	}
	55% { 
		left: 55%;
		top: 66%;
	}
	60% { 
		left: 90%;
		top: 62%;
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
	}
	65% { 
		-webkit-transform: rotateZ(-75deg);
		-moz-transform: rotateZ(-75deg);
		-ms-transform: rotateZ(-75deg);
		transform: rotateZ(-75deg);
	}
	70% { 
		-webkit-transform: rotateZ(-75deg);
		-moz-transform: rotateZ(-75deg);
		-ms-transform: rotateZ(-75deg);
		transform: rotateZ(-75deg);
		left: 90%;
		top: 62%;
	}
	65% { 
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
	}
	70% { 
		-webkit-transform: rotateZ(-360deg);
		-moz-transform: rotateZ(-360deg);
		-ms-transform: rotateZ(-360deg);
		transform: rotateZ(-360deg);
		left: 90%;
		top: 62%;
	}
	75% { 
		left: 80%;
		top: 65%;
	}
	80% { 
		left: 60%;
		top: 62%;
	}
	85% { 
		left: 40%;
		top: 65%;
	}
	90% { 
		left: 1%;
		top: 62%;
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
	}
	95% {
		-webkit-transform: rotateZ(-85deg);
		-moz-transform: rotateZ(-85deg);
		-ms-transform: rotateZ(-85deg);
		transform: rotateZ(-85deg);
	}
	100% {
		-webkit-transform: rotateZ(360deg);
		-moz-transform: rotateZ(360deg);
		-ms-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}
@keyframes xueone {
	0% { 
		top: 62%;
	}
	5% { 
		top: 64%;
	}
	10% {
		left: 1%; 
		top: 62%;
	}
	15% { 
		left: 3%;
		top: 64%;
	}
	20% { 
		left: 5%;
		top: 62%;
	}
	25% { 
		top: 64%;
	}
	30% { 
		top: 62%;
	}
	35% { 
		top: 64%;
	}
	40% { 
		left: 5%;
		top: 62%;
	}
	55% { 
		left: 55%;
		top: 66%;
	}
	60% { 
		left: 90%;
		top: 62%;
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
	}
	65% { 
		-webkit-transform: rotateZ(-75deg);
		-moz-transform: rotateZ(-75deg);
		-ms-transform: rotateZ(-75deg);
		transform: rotateZ(-75deg);
	}
	70% { 
		-webkit-transform: rotateZ(-75deg);
		-moz-transform: rotateZ(-75deg);
		-ms-transform: rotateZ(-75deg);
		transform: rotateZ(-75deg);
		left: 90%;
		top: 62%;
	}
	65% { 
		-webkit-transform: rotateZ(0);
		-moz-transform: rotateZ(0);
		-ms-transform: rotateZ(0);
		transform: rotateZ(0);
	}
	70% { 
		-webkit-transform: rotateZ(-360deg);
		-moz-transform: rotateZ(-360deg);
		-ms-transform: rotateZ(-360deg);
		transform: rotateZ(-360deg);
		left: 90%;
		top: 62%;
	}
	75% { 
		left: 80%;
		top: 65%;
	}
	80% { 
		left: 60%;
		top: 62%;
	}
	85% { 
		left: 40%;
		top: 65%;
	}
	90% { 
		left: 1%;
		top: 62%;
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
	}
	95% {
		-webkit-transform: rotateZ(-85deg);
		-moz-transform: rotateZ(-85deg);
		-ms-transform: rotateZ(-85deg);
		transform: rotateZ(-85deg);
	}
	100% {
		-webkit-transform: rotateZ(360deg);
		-moz-transform: rotateZ(360deg);
		-ms-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}






