@import url(./frames.css);
* { padding: 0; margin: 0; box-sizing: border-box; }
html,body { width:100%; height: 100%; font-family: "microsoft YaHei", Arial, "Helvetica Neue", Helvetica, sans-serif; }

.bg {
	width: 100%;
	height: 100%;
	max-width: 450px;
	max-height: 800px;
	margin: 0 auto;
	position: relative;
	background: #301f56;
	overflow: hidden;
}
canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
img {
	display: block;
	width: 100%;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

.title {
	position: absolute;
	left: 3.75%;
	top: 2%;
	width: 92.5%;
	z-index: 10;
}
.tree {
	position: absolute;
	top: 17%;
	left: 24%;
	width: 52%;
	z-index: 5;
}
.center-people {
	position: absolute;
	left: 14%;
	top: 40%;
	width: 72%;
	z-index: 20;
	-webkit-animation: cenpeopshow .5s;
	-o-animation: cenpeopshow .5s;
	animation: cenpeopshow .5s;
}
.snower {
	position: absolute;
	top: 62%;
	left: 1%;
	width: 30%;
	z-index: 25;
}
.star-first {
	position: absolute;
	top: 13.5%;
	left: 15%;
	width: 20%;
	z-index: 99;
}

.star-second {
	position: absolute;
	top: 26%;
	left: 10%;
	width: 17%;
	z-index: 21;
}
.people-first {
	position: absolute;
	bottom: 3%;
	left: 1%;
	width: 13%;
	z-index: 21;
}
.people-second {
	position: absolute;
	bottom: 3%;
	left: 15%;
	width: 19.2%;
	z-index: 21;
}
.people-third {
	position: absolute;
	bottom: 3%;
	left: 35%;
	width: 16.8%;
	z-index: 21;
}
.people-fourth {
	position: absolute;
	bottom: 3%;
	left: 52%;
	width: 16.8%;
	z-index: 21;
}
.people-fifth {
	position: absolute;
	bottom: 3%;
	left: 69%;
	width: 17.6%;
	/* height: 11%; */
	z-index: 21;
}
.people-sixth {
	position: absolute;
	bottom: 3%;
	left: 86%;
	width: 12.3%;
	z-index: 21;
}
.people {
	-webkit-transition: bottom 1.5s;
	-o-transition: bottom 1.5s;
	transition: bottom 1.5s;
}
.peoplehide {
	bottom: 100%;
}
.tophide {
	top: -40%;
}
#xuehua {
	display: none;
}
#snow {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.snowertran {
	-webkit-transition: top .5s;
	-o-transition: top .5s;
	transition: top .5s;
}
.fstran {
	-webkit-transition: top .5s;
	-o-transition: top .5s;
	transition: top .5s;
}
.sstran {
	-webkit-transition: top .7s;
	-o-transition: top .7s;
	transition: top .7s;
}
.people-first.ptran {
	-webkit-transition: bottom .4s, transform .5s .4s;
	-o-transition: bottom .4s, transform .5s .4s;
	transition: bottom .4s, transform .5s .4s;
}
.people-second.ptran {
	-webkit-transition: bottom .3s .2s, transform .5s .5s;
	-o-transition: bottom .3s .2s, transform .5s .5s;
	transition: bottom .3s .2s, transform .5s .5s;
}
.people-third.ptran {
	-webkit-transition: bottom .2s .2s, transform .5s .6s;
	-o-transition: bottom .2s .2s, transform .5s .6s;
	transition: bottom .2s .2s, transform .5s .6s;
}
.people-fourth.ptran {
	-webkit-transition: bottom .3s, transform .5s .3s;
	-o-transition: bottom .3s, transform .5s .3s;
	transition: bottom .3s, transform .5s .3s;
}
.people-fifth.ptran {
	-webkit-transition: bottom .1s .6s, transform .5s .7s;
	-o-transition: bottom .1s .6s, transform .5s .7s;
	transition: bottom .1s .6s, transform .5s .7s;
}
.people-sixth.ptran {
	-webkit-transition: bottom .3s .4s, transform .5s .7s;
	-o-transition: bottom .3s .4s, transform .5s .7s;
	transition: bottom .3s .4s, transform .5s .7s;
}
.people-first.pptran {
	-webkit-transition: transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
}
.people-second.pptran {
	-webkit-transition: transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
}
.people-third.pptran {
	-webkit-transition: transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
}
.people-fourth.pptran {
	-webkit-transition: transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
}
.people-fifth.pptran {
	-webkit-transition: transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
}
.people-sixth.pptran {
	-webkit-transition: transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
}
.people-first.pdao {
	-webkit-transform: rotateZ(60deg);
	-moz-transform: rotateZ(60deg);
	-ms-transform: rotateZ(60deg);
	transform: rotateZ(60deg);
}
.people-second.pdao {
	-webkit-transform: rotateZ(90deg);
	-moz-transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}
.people-third.pdao {
	-webkit-transform: rotateZ(-40deg);
	-moz-transform: rotateZ(-40deg);
	-ms-transform: rotateZ(-40deg);
	transform: rotateZ(-40deg);
}
.people-fourth.pdao {
	-webkit-transform: rotateZ(-70deg);
	-moz-transform: rotateZ(-70deg);
	-ms-transform: rotateZ(-70deg);
	transform: rotateZ(-70deg);
}
.people-fifth.pdao {
	-webkit-transform: rotateZ(50deg);
	-moz-transform: rotateZ(50deg);
	-ms-transform: rotateZ(50deg);
	transform: rotateZ(50deg);
}
.people-sixth.pdao {
	-webkit-transform: rotateZ(90deg);
	-moz-transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}
.people-first.pdaotwo {
	-webkit-transform: rotateZ(-60deg);
	-moz-transform: rotateZ(-60deg);
	-ms-transform: rotateZ(-60deg);
	transform: rotateZ(-60deg);
}
.people-second.pdaotwo {
	-webkit-transform: rotateZ(90deg);
	-moz-transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}
.people-third.pdaotwo {
	-webkit-transform: rotateZ(-90deg);
	-moz-transform: rotateZ(-90deg);
	-ms-transform: rotateZ(-90deg);
	transform: rotateZ(-90deg);
}
.people-fourth.pdaotwo {
	-webkit-transform: rotateZ(-40deg);
	-moz-transform: rotateZ(-40deg);
	-ms-transform: rotateZ(-40deg);
	transform: rotateZ(-40deg);
}
.people-fifth.pdaotwo {
	-webkit-transform: rotateZ(80deg);
	-moz-transform: rotateZ(80deg);
	-ms-transform: rotateZ(80deg);
	transform: rotateZ(80deg);
}
.people-sixth.pdaotwo {
	-webkit-transform: rotateZ(30deg);
	-moz-transform: rotateZ(30deg);
	-ms-transform: rotateZ(30deg);
	transform: rotateZ(30deg);
}
.pptran:after{
	display: block;
	position: absolute;
	left: 0;
	top: -20px;
	width: 50px;
	line-height: 20px;
	font-size: 14px;
	background: #ffffff;
	border-radius: 20px;
	text-align: center;
}
.people-first.pptran:after {
	content: 'wc';
}
.people-second.pptran:after {
	content: 'nb';
}
.people-third.pptran:after {
	content: 'nx';
}
.people-fourth.pptran:after {
	content: 'd';
}
.people-fifth.pptran:after {
	content: 'md';
}
.people-sixth.pptran:after {
	content: 'r';
}
.people-first.move {
	-webkit-animation: pfmove 12s .5s infinite;
	-o-animation: pfmove 12s .5s infinite;
	animation: pfmove 12s .5s infinite;
}
.people-second.move {
	-webkit-animation: psmove 12s .5s infinite;
	-o-animation: psmove 12s .5s infinite;
	animation: psmove 12s .5s infinite;
}
.people-third.move {
	-webkit-animation: ptmove 12s .5s infinite;
	-o-animation: ptmove 12s .5s infinite;
	animation: ptmove 12s .5s infinite;
}
.people-fourth.move {
	-webkit-animation: pfomove 12s .5s infinite;
	-o-animation: pfomove 12s .5s infinite;
	animation: pfomove 12s .5s infinite;
}
.people-fifth.move {
	-webkit-animation: pfimove 12s .5s infinite;
	-o-animation: pfimove 12s .5s infinite;
	animation: pfimove 12s .5s infinite;
}
.people-sixth.move {
	-webkit-animation: psimove 12s .5s infinite;
	-o-animation: psimove 12s .5s infinite;
	animation: psimove 12s .5s infinite;
}
.fs-one {
	-webkit-animation: fstarLight 2s .5s;
	-o-animation: fstarLight 2s .5s;
	animation: fstarLight 2s .5s;
}
.fs-two {
	transform: scale(1, 1);
}
.fs-two:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: -webkit-radial-gradient(rgba(225, 206, 73, .9), rgba(225, 236, 248, .7), rgba(225, 239, 197, .4));
	background: radial-gradient(rgba(225, 206, 73, .9), rgba(225, 236, 248, .7), rgba(225, 239, 197, .4));
	-webkit-animation: fstwo 1s;
	-o-animation: fstwo 1s;
	animation: fstwo 1s;
}
.fs-two-shadow:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(247, 205, 22, .6), 0 0 25px rgba(247, 205, 22, .6), 0 0 35px rgba(247, 205, 22, .3);
	-webkit-animation: fstwoshadow 2s infinite;
	-o-animation: fstwoshadow 2s infinite;
	animation: fstwoshadow 2s infinite;
}
.fs-two-yan:before {
	content: '';
	display: block;
	position: absolute;
	left: 53%;
	top: 70%;
	z-index: 100;
	border: 2px #f0f0f0 solid;
	border-radius: 50%;
	transform: rotate3d(-1,1,1,60deg);
	-webkit-animation: fstwoyan 6s ease-out 2s infinite;
	-o-animation: fstwoyan 6s ease-out 2s infinite;
	animation: fstwoyan 6s ease-out 2s infinite;
}
.ss-one:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(247, 205, 22, .6), 0 0 25px rgba(247, 205, 22, .6), 0 0 35px rgba(247, 205, 22, .3);
	-webkit-animation: ssone 2s ease-out 2s infinite;
	-o-animation: ssone 2s ease-out 2s infinite;
	animation: ssone 2s ease-out 2s infinite;
}












